footer {
    height: 100px;
    display: flex;
    background-color: rgb(233, 233, 233);
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

.footer-icon {
    width: 1.75rem;
    padding: 0.5rem 0;
    top: calc(50% - 100px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
