header {
    position: relative;
    padding: 0 3rem;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    position: fixed;
    top: 0;
    z-index: 5;
    width: 100%;
    box-shadow: 0 10px 100px rgb(0 0 0 / 10%);
}

header ul {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    padding-right: 2rem;
}

header ul li {
    cursor: pointer;
}

header ul li:hover {
    color: var(--pinky-red);
}

header ul li,
.header-title {
    text-transform: uppercase;
}

.dark-mode-icon {
    cursor: pointer;
    width: 1.5rem;
    height: auto;
    transition: transform 0.5s ease-in-out;
}

@media (max-width: 775px) {
    .header-title {
        display: none;
    }

    header {
        justify-content: center;
        padding: 0rem 2rem;
    }

    header ul {
        gap: 1rem;
        margin-left: 0;
        padding-right: 0rem;
        font-size: 14px;
    }

    .dark-mode-icon {
        position: fixed;
        top: 85px;
        right: 10px;
    }
}
