.projects {
    min-height: 100vh;
    background-color: rgb(233, 233, 233);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 6rem 4rem 4rem 4rem;
}

.projects h1 {
    text-transform: uppercase;
    letter-spacing: 0.25ch;
    font-size: 38px;
    padding: 1rem 0;
}

.projects span {
    content: "";
    width: 100px;
    height: 0.5rem;
    border-radius: 5px;
    background-color: var(--pinky-red);
}

.project-container {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 4rem;
}

.tech-stack,
.project-description {
    font-size: 16px;
}

.project-left {
    position: relative;
    width: 45%;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: transform 0.5s cubic-bezier(0.75, -1.27, 0.3, 2.33);
}

.overlay {
    position: absolute;
    width: 100%;
    height: 30%;
    bottom: -20%;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: opacity 1.5s ease-in-out, bottom 1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bounce-left {
    animation: bounce-left 2s infinite;
}

.bounce-right {
    animation: bounce-right 2s infinite;
}

@keyframes bounce-left {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(-2px);
    }
    60% {
        transform: translateX(-4px);
    }
}

@keyframes bounce-right {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0);
    }
    40% {
        transform: translateX(2px);
    }
    60% {
        transform: translateX(4px);
    }
}

.project-left:hover .overlay {
    bottom: 0;
    opacity: 1;
}

.project-left:hover {
    transform: scale(1.05);
}

.project-left img {
    width: 100%;
    aspect-ratio: 4 / 2.5;
    border-radius: 5px;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

.project-right {
    width: 45%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.project-right button {
    text-transform: uppercase;
    font-size: 14px;
    width: 100px;
    padding: 0.5rem 0;
    border-radius: 5px;
    border: none;
}

.project-buttons {
    display: flex;
    gap: 1rem;
}

.live-site {
    background-color: var(--pinky-red);
}

.see-code {
    background-color: var(--light-blue);
}

@media (max-width: 880px) {
    .project-container {
        flex-direction: column;
        gap: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .project-left,
    .project-right {
        width: 100%;
    }

    .project-right {
        align-items: center;
        gap: 1rem;
        text-align: center;
        max-width: none;
    }

    .projects {
        padding: 6rem 2rem 4rem 2rem;
    }
}

@media (max-width: 450px) {
    .overlay {
        display: none;
    }
}
