*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Source Sans Pro", sans-serif;
    transition: color 0.15s;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
}

a {
    color: inherit;
}

p {
    font-size: 18px;
}

button {
    cursor: pointer;
}

button:hover {
    filter: brightness(90%);
}

:root {
    --pinky-red: #e66465;
    --background-blue: #1c1d25;
    --light-blue: rgb(145, 152, 229);
}
